@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/BackArea/Views/Shared/_LayoutBackArea.cshtml";
}
<table id="dg" data-options="rownumbers:true,fit:true,singleSelect:false,pagination:true,url:'/BackArea/Product/GetList',method:'Post'">
    <thead>
        <tr>
            <th field="ck" checkbox="true">
            </th>
            <th data-options="field:'Id',width:200,formatter:imgList">
                预览
            </th>
            <th data-options="field:'Name',width:300">
                产品名称
            </th>
            <th data-options="field:'CategoryId',width:100">
                产品类别
            </th>
            <th data-options="field:'Description',width:100">
                产品描述
            </th>
            <th data-options="field:'ImgSrc',width:150,formatter:showImg">
                图片
            </th>
            <th data-options="field:'CreateTime',formatter:showTime,width:150">
                添加时间
            </th>
        </tr>
    </thead>
</table>
<div id="w" class="easyui-window" title="新增商品" data-options="iconCls:'icon-save'" style="width:800px;height:500px;padding:10px;">
    <form id="ff" method="post">
        <table style="width:400px; margin:0 auto;">
            <tr>
                <td>产品名称:</td>
                <td><input class="easyui-validatebox" type="text" name="Name" id="Name" data-options="required:true"></input></td>
            </tr>
            <tr>
                <td>产品描述:</td>
                <td><input class="easyui-validatebox" type="text" name="Description" id="Description" data-options="required:true"></input></td>
            </tr>
            <tr>
                <td>图片:</td>
                <td>
                    <img id="proImg" src="" name="img" style="height:60px;" /><input type="hidden" id="ImgSrc" name="ImgSrc" />
                    <span>
                        <span id='spanButtonPlaceholder'></span><span id='fsUploadProgress'></span><span id='msgmsg'></span>
                    </span>
                </td>
            </tr>
            <tr>
                <td>所属分类:</td>
                <td>
                    <select class="easyui-combobox" id="CategoryId" name="CategoryId">
                        @{
                            foreach (var category in ViewBag.categories)
                            {
                                <option name="CategoryId" value="@category.Id">@category.Name</option>
                            }
                        }
                    </select>
                </td>
            </tr>
        </table>
        <input type="hidden" name="Id" id="Id" />
    </form>
    <div style="text-align:center;padding:10px">
        <a href="javascript:void(0)" class="easyui-linkbutton" id="save" flag="add" onclick="submitForm()">Submit</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()">Clear</a>
    </div>
</div>

<script type="text/javascript" src="/Content/Scripts/swfupload/swfupload.js"></script>
<script type="text/javascript" src="/Content/Scripts/swfupload/fileprogress.js"></script>
<script type="text/javascript" src="/Content/Scripts/swfupload/handlers.js"></script>
<script type="text/javascript" defer="defer">
    var swfu = null;
    var settings = {
        flash_url: "/Content/Scripts/swfupload/swfupload.swf",
        upload_url: '@Url.Action("uploadProImage", "Product")',
        file_size_limit: "100 MB",
        file_post_name: "imagefiled",
        file_types: "*.jpg;*.gif;*.png;*.bmp",
        file_types_description: "Image Files",
        file_upload_limit: 100,
        file_queue_limit: 0,
        custom_settings: {
            progressTarget: "fsUploadProgress",
            cancelButtonId: "fsUploadProgress"
        },
        debug: true,
        debug_handler: function (msg) {
            //document.getElementById('msgmsg').innerHTML = msg;
        },

        // Button Settings
        button_image_url: "/Content/Scripts/swfupload/XPButtonUploadText_61x22.png",
        button_placeholder_id: "spanButtonPlaceholder",
        button_width: 61,
        button_height: 22,
        button_action: SWFUpload.BUTTON_ACTION.SELECT_FILE,

        //event
        file_queued_handler: fileQueued,
        file_queue_error_handler: fileQueueError,
        file_dialog_complete_handler: fileDialogComplete,
        upload_start_handler: uploadStart,
        upload_progress_handler: uploadProgress,
        upload_error_handler: uploadError,
        upload_success_handler: uploadSuccess,
        upload_complete_handler: uploadComplete,

        // SWFObject settings
        minimum_flash_version: "9.0.28"
    };

    function uploadSuccessCurrent(image) {
        eval("var data=" + image);
        $("#proImg").attr("src", data);
        $('#ImgSrc').val(data);
    }
</script>
<script type="text/javascript">
    var currId;
    $(function () {
        $('#w').window('close');
        swfu = new SWFUpload(settings);
        var pager = $('#dg').datagrid().datagrid('getPager'); // get the pager of datagrid
        pager.pagination({
            pageSize: 10, //每页显示的记录条数，默认为10
            pageList: [10, 15, 20], //可以设置每页记录条数的列表
            beforePageText: '第', //页数文本框前显示的汉字
            afterPageText: '页    共 {pages} 页',
            displayMsg: '当前显示 {from} - {to} 条记录   共 {total} 条记录',
            buttons: [{
                text: '添加',
                iconCls: 'icon-add',
                handler: function () {
                    $('#w').window('open');
                    $('#save').attr('flag', 'add');
                }
            }, {
                text: '<a href="javascript:;" style="color: #444;text-decoration: none;" title="只能编辑单条用户信息！" class="easyui-tooltip tooltip-f">编辑</a>',
                iconCls: 'icon-edit',
                handler: function () {
                    var selected = $("#dg").datagrid("getSelected");
                    if (null != selected) {
                        $('#save').attr('flag', 'edit');
                        currId = selected.Id;
                        $('#Id').val(currId);
                        $('#Name').val(selected.Name);
                        $('#CategoryId').combobox('setValue', selected.CategoryId);
                        $('#Description').val(selected.Description);
                        $('#ImgSrc').val(selected.ImgSrc);
                        $('#proImg').attr('src', selected.ImgSrc);
                        $('#w').window('open');
                    }
                }
            },
            {
                text: '删除',
                iconCls: 'icon-delete',
                handler: function () {
                    var checkedItems = $('#dg').datagrid('getChecked');
                    var names = [];
                    $.each(checkedItems, function (index, item) {
                        names.push(item.Id);
                    });
                    var ids = names.join(",");
                    if (names.length > 0 && confirm("确定删除吗？")) {
                        $.post('@Url.Action("DeleteItems", "Product")', { idList: ids }, function (data) {
                            if (data.flag) {
                                bottomRight("提示", "操作成功,共" + data.count + "条！");
                                $('#dg').datagrid('reload');
                            }
                            else
                                bottomRight("提示", "删除失败，请重试！");
                        });
                    }
                }
            }]
        });
    })
    function showImg(val, row) {
        if (val !== null || val !== undefined || val !== '') {
            return '<img width=60 height=60 src=' + val + '>';
        }
        else
            return '<img width=60 height=60 src=' + val + '>';
    }

    function showTime(val) {
        return common.timeFormatter(val);
    }

    function submitForm() {
        var flag = false;
        //$('form input[type=text]').each(function () {
        //    if ($(this).val() == '' && $(this).attr('id')!='Id') {
        //        flag = true;
        //        alert($(this).attr('name'));
        //    }
        //});
        if ($('#Name').val() == '' || $('#ImgSrc').val() == '' || $('#Description').val() == '')
            flag = true;
        if (!flag) {
            var fl = $('#save').attr('flag');
            if (fl == 'add') {
                $.post('@Url.Action("AddNew")', $('form').serialize(), function (dt) {
                    if (dt.flag) {
                        $('#w').window('close');
                        $('#dg').datagrid('reload');
                    }
                    bottomRight("提示", data.msg);
                });
            }
            else if (fl == 'edit') {
                $.post('@Url.Action("Edit")', $('form').serialize(), function (dt) {
                    if (dt.flag) {
                        $('#w').window('close');
                        $('#dg').datagrid('reload');
                    }
                    bottomRight("提示", dt.msg);
                });
            }
            else
                return false;
        }
    }
    function clearForm() {
        $('#ff').form('clear');
    }
    @*function showCategory(val) {
        $.post('@Url.Action("GetCategoryName")', { categoryId: val }, function (data) {
            return data;
        });
    }*@

    function imgList(val, row, index) {
        return '<a href="/BackArea/ImageList/Index?productId=' + val + '">图片列表</a>';
       // return a;
    }
</script>